@model IEnumerable<StudentExpenseTracker.Models.Budget>

@{
     // Setting the title of the page
    ViewData["Title"] = "Budgets";
}

<h1 class="mt-5">Budgets</h1>

<div class="mt-4">
    <!-- Button to create a new budget -->
    <a class="btn btn-success" asp-action="Create">Create Budget</a>
    <!-- Button to go back to the home page -->
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
</div>


<!-- check if there are existing budgets -->
@if (Model.Any())

{
    <!-- Displaying a table if there are budgets -->
    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
        
        <!-- Iterating over each budget to display in the table -->
        @foreach (var item in Model) {
                <tr>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td class="text-center">
                        <!-- Link to edit the budget -->
                        <a asp-action="Edit" asp-route-id="@item.BudgetId" class="me-3"><i class="bi bi-pencil-fill"></i></a>
                         <!-- Link to delete the budget -->
                        <a asp-action="Delete" asp-route-id="@item.BudgetId"><i class="bi bi-trash-fill"></i</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
}
else
{
    <!-- display message if no budgets found -->
    <div class="text-center mt-5">
        <h3>No budgets found.</h3>
    </div>
}
