@model IEnumerable<StudentExpenseTracker.Models.Budget>

@{
    ViewData["Title"] = "Budgets";
}

<h1 class="mt-5">Budgets</h1>

<div class="mt-4">
    <a class="btn btn-success" asp-action="Create">Create New Budget</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
</div>

@if (Model.Any())

{

    <table class="table table-bordered table-striped mt-4">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-center">
                    @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="text-center">
                    @Html.DisplayNameFor(model => model.Category)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var budget in Model)
        {
            <tr>
                <td class="text-center">@budget.Name</td>
                <td class="text-center">@budget.Amount</td>
                <td class="text-center">@budget.Category.Name</td>
            </tr>
        }
    </tbody>
</table>
}

else

    {
        <!-- display message if no budgets found -->
        <div class="text-center mt-5">
            <h3>No budgets found.</h3>
        </div>
    }